.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #cccccc;
    background: #252525;
    padding: 40px 0 0;
    border-top: 0 solid transparent;
    display: block;
    box-sizing: border-box;
    height: 80px;
    font-size: 16px;
  }

  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .links > a {
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    color: #e4e4e4;
  }
  