:root {

  /* Colors: */
  --50-black: #00000080;
  --24g-midnight-grey: #393C3E;
  --bg-grey: #1F1F1F;
  --black: #000000;
  --white: #FFFFFF;
  --24g-orange: #FAA61A;
  
  /* Font/text values */
  --unnamed-font-family-writable-story-personal-use: Writable Story;
  --unnamed-font-family-brandon-grotesque: Brandon Grotesque;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-60: 60px;
  --unnamed-font-size-70: 70px;
  --unnamed-font-size-20-999996185302734: 20.999996185302734px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-character-spacing-1-05: 1.05px;
  --unnamed-character-spacing-1-6: 1.6px;
  --unnamed-line-spacing-23: 23px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-80: 80px;
  --unnamed-line-spacing-100: 100px;
  --unnamed-text-transform-uppercase: uppercase;
}
  
/* Character Styles */

.headers {
font-family: var(--unnamed-font-family-writable-story-personal-use);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-70);
line-height: var(--unnamed-line-spacing-100);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--white);
}
.mobile-header {
font-family: var(--unnamed-font-family-writable-story-personal-use);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-60);
line-height: var(--unnamed-line-spacing-80);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--white);
}
.subline {
font-family: var(--unnamed-font-family-brandon-grotesque);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-23);
letter-spacing: var(--unnamed-character-spacing-1-6);
color: var(--white);
text-transform: var(--unnamed-text-transform-uppercase);
}
.subheaders {
font-family: var(--unnamed-font-family-brandon-grotesque);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-20-999996185302734);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-1-05);
color: var(--white);
}
.body-copy-large {
font-family: var(--unnamed-font-family-brandon-grotesque);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-28);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--white);
}
.body-copy-small {
font-family: var(--unnamed-font-family-brandon-grotesque);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-28);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--white);
}

body {
  margin: 0;
  padding: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--white);
  background-image: url('https://assets.24g.com/public/2022-frontend-test-project/bg_desktop.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Header */

.logoContainer {
  text-align: left;
}

/* Introduction */

.introductionContainer h1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-70)/var(--unnamed-line-spacing-100) var(--unnamed-font-family-writable-story-personal-use);
  letter-spacing: var(--unnamed-character-spacing-0);
}

.introductionContainer p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-brandon-grotesque);
  letter-spacing: var(--unnamed-character-spacing-0);
  padding: 1rem 17.5rem 2rem;
}

/* Grid */

.gridContainer {
  padding: 0rem 8rem;
}

/* Card */

.drinkCard {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 15px;
}

.drinkCard :hover {
  cursor: pointer;
  transform: translate(0, -1rem);
  transition: 1s ease-in-out;
}

.drinkImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#closeButton {
  left: 73rem;
  top: 2rem;
  position: absolute;
  cursor: pointer;
}

.drinkName h1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-70)/var(--unnamed-line-spacing-100) var(--unnamed-font-family-writable-story-personal-use);
  letter-spacing: var(--unnamed-character-spacing-0);
}

.drinkDetails {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-brandon-grotesque);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
}

.drinkDetails h3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 21px/var(--unnamed-line-spacing-30) var(--unnamed-font-family-brandon-grotesque);
  letter-spacing: var(--unnamed-character-spacing-1-05);
}

.drinkDetails hr {
  border: 1px solid var(--24g-midnight-grey);
}

.ingredients {
  list-style-type: circle;
}

.stepList {
  list-style-type: none;
  padding-left: 0;
}